body {
  background-color: #18181b;
  font: normal 0.75em/1.38 Manrope;
  color: rgb(186, 186, 186);
}

.container {
  float: left;
}

.element {
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
}

.text {
  float: left;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  font-size: 1.333em;
  text-align: center;
}

.container-1 {
  width: 100%;
  height: 51px;
}

.container-2 {
  position: relative;
  z-index: 7;
  width: 55.9999999999%;
  min-width: 728px;
  height: 164px;
  min-height: 164px;
  margin-top: 92px;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 2;
  width: 25.6610576923%;
  min-width: 334px;
  height: 30px;
  min-height: 30px;
  margin: -193px 0 0 36.39904%;
}

.container-4 {
  width: 100%;
  min-width: 1300px;
  height: 48px;
  min-height: 48px;
  margin-top: 800px;
}

.element-1 {
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  margin: 3px 0 0 10.07452%;
  background-image: url('../images/logo.png');
  background-size: 48px 48px;
  background-color: rgba(255, 255, 255, 0);
}

.element-2 {
  width: 80px;
  height: 80px;
  margin: 40px 0 0 4.00713%;
  border-radius: 12px;
  background-image: url('../images/cross-mark_274c.png');
  background-size: 40px 40px;
  background-color: rgb(63, 63, 68);
}

.element-3 {
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  margin-left: 10%;
  background-image: url('../images/logo.png');
  background-size: 48px 48px;
  background-color: rgba(222, 222, 222, 0);
}

.text-1 {
  clear: both;
  min-width: 156px;
  margin: 14px 0 0 10%;
  font-family: 'Manrope Bold';
  font-size: 3em;
  color: rgb(255, 255, 255);
}

.text-2 {
  position: relative;
  z-index: 4;
  margin: 40px 0 0 1.33929%;
  font-family: 'Manrope Bold';
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 5;
  margin: -47px 0 0 16.33757%;
  font-family: 'Inter Regular';
  font-size: 1.167em;
  color: rgb(244, 244, 244);
}

.text-4 {
  position: relative;
  z-index: 6;
  margin: -22px 0 0 16.33757%;
  font-family: 'Inter Regular';
  font-size: 1.333em;
  color: rgb(244, 244, 244);
}

.text-5 {
  margin-left: 1.50601%;
  font-size: 1em;
  font-weight: 400;
  color: rgb(186, 186, 186);
}

.container ._button-1 {
  width: 74px;
  min-width: 74px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 1.32813%;
  background-color: rgba(222, 222, 222, 0);
  font-family: 'Manrope Bold';
  color: #ffffff;
  word-wrap: break-word;
}

.container ._button-1:hover {
  color: #ff7ea5;
}

.container ._button-2 {
  width: 74px;
  min-width: 74px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 0.81611%;
  background-color: rgba(222, 222, 222, 0);
  font-family: 'Manrope Bold';
  color: rgb(255, 255, 255);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

.container ._button-3 {
  width: 74px;
  min-width: 74px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 0.88462%;
  background-color: rgba(222, 222, 222, 0);
  text-shadow: 0 0 10px #ff7ea5;
  font-family: 'Manrope Bold';
  color: #ff7ea5;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

.container ._button-3:active {
  text-shadow: 0 0 10px #ff7ea5;
}

.container ._button-4 {
  width: 74px;
  min-width: 74px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 0.90986%;
  background-color: rgba(222, 222, 222, 0);
  font-family: 'Manrope Bold';
  color: rgb(255, 255, 255);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

.container ._button-5 {
  width: 51px;
  min-width: 51px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 0.91827%;
  background-color: rgba(222, 222, 222, 0);
  font-family: 'Manrope Bold';
  color: rgb(255, 255, 255);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

.container ._button-2:hover,
.container ._button-4:hover,
.container ._button-5:hover {
  text-shadow: 0 0 10px #ff7ea5;
  color: #ff7ea5;
}

.container ._button-6 {
  width: 39.868852459%;
  height: 30px;
  margin-left: -0.05614%;
  background-color: rgb(46, 46, 48);
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.container ._button-7 {
  clear: both;
  width: 39.868852459%;
  height: 39px;
  margin: -39px 0 0 66.1910599999%;
  background-color: rgb(46, 46, 48);
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(88, 255, 25);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 600px) {
  body {
    font-size: 0.625em;
  }

  .text {
    font-size: 3.6em;
  }

  .container ._button {
    font-size: 1.6em;
  }

  .container .element-1 {
    margin-left: 10.07292%;
  }

  .container .element-2 {
    margin-left: 4.00391%;
  }

  .container .element-3 {
    margin-left: 45.83073%;
  }

  .container .text-2 {
    position: relative;
    z-index: 4;
    margin-left: 1.33464%;
    font-size: 2.4em;
  }

  .container .text-3 {
    position: relative;
    z-index: 5;
    margin-left: 22.00521%;
    font-size: 1.4em;
  }

  .container .text-4 {
    position: relative;
    z-index: 6;
    margin-top: -28px;
    margin-left: 22.00521%;
    font-size: 1.3em;
  }

  .container .text-5 {
    clear: both;
    margin-left: 0;
    font-size: 10px;
    text-align: center;
  }

  .container-2 {
    position: relative;
    clear: both;
    z-index: 7;
    width: 80%;
    min-width: 0;
    margin-top: 100px;
    margin-left: 10%;
  }

  .container-3 {
    position: relative;
    z-index: 2;
    margin-top: -194px;
    margin-left: 18.22917%;
  }

  .container-4 {
    min-width: 600px;
    margin-top: 727px;
  }

  .container ._button-2 {
    margin-left: 0.8125%;
  }

  .container ._button-3 {
    margin-left: 0.88021%;
  }

  .container ._button-4 {
    margin-left: 0.90625%;
  }

  .container ._button-5 {
    margin-left: 0.91667%;
  }

  .container ._button-7 {
    clear: none;
    margin-top: -9px;
    margin-left: 20.32186%;
  }
}

@media(max-width: 400px) {
  .container .element-1 {
    position: relative;
    z-index: 9;
    margin-top: 9px;
    margin-left: 43.1992199999%;
  }

  .container .element-3 {
    margin-left: 44%;
  }

  .container .text-2 {
    position: relative;
    z-index: 4;
    margin-left: 1.33301%;
  }

  .container .text-3 {
    position: relative;
    z-index: 5;
    margin-left: 30.32715%;
  }

  .container .text-4 {
    position: relative;
    z-index: 6;
    margin-top: -21px;
    margin-left: 30.32715%;
    font-size: 1em;
  }

  .container-1 {
    min-width: 400px;
    height: 81px;
    min-height: 81px;
  }

  .container-2 {
    position: relative;
    z-index: 7;
    margin-top: 114px;
  }

  .container-3 {
    position: relative;
    z-index: 2;
    width: 302px;
    min-width: 302px;
    margin-left: 11.75%;
  }

  .container-4 {
    min-width: 400px;
    margin-top: 697px;
  }

  .text-1 {
    margin-top: 0;
  }

  .container ._button-1 {
    position: relative;
    clear: both;
    z-index: 10;
    margin-top: -57px;
    margin-left: 40.84766%;
    color: rgba(255, 126, 165, 0);
    word-wrap: normal;
  }

  .container ._button-2 {
    margin-top: 0;
    margin-left: 11.81641%;
  }

  .container ._button-3 {
    position: relative;
    z-index: 12;
    margin-top: 0;
    margin-left: 1.82813%;
  }

  .container ._button-4 {
    position: relative;
    z-index: 13;
    margin-top: 0;
    margin-left: 1.84766%;
  }

  .container ._button-5 {
    margin-top: 0;
    margin-left: 1.80469%;
  }

  .container ._button-6 {
    margin-left: -0.05174%;
  }

  .container ._button-7 {
    margin-left: 20.3125%;
  }
}