body {
  background-color: #18181b;
  background-attachment: fixed;
  font: normal 1em/1.38 'Inter Regular';
  color: rgb(255, 255, 255);
}

.container {
  float: left;
}

.container .container {
  width: 100%;
  height: 51px;
  margin-top: 11px;
}

.container .element {
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
}

.element {
  float: left;
}

.text {
  float: left;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  font-family: 'Manrope Bold';
  font-size: 1em;
  text-align: center;
}

.container-1 {
  width: 100%;
  min-width: 1300px;
  height: 374px;
  min-height: 374px;
  margin-top: -11px;
  background-image: url('https://64.media.tumblr.com/7c7feffafa91b1bff2067e9bf88ff3bf/tumblr_p5m780kmA21rtbl5vo1_500.gifv');
}

.container-10 {
  position: relative;
  clear: both;
  z-index: 44;
  width: 39.1538461538%;
  min-width: 509px;
  height: 166px;
  min-height: 166px;
  margin: 25px 0 0 10%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.container-11 {
  position: relative;
  z-index: 48;
  width: 39.1538461538%;
  min-width: 509px;
  height: 166px;
  min-height: 166px;
  margin: 25px 0 0 1.64303%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.container-12 {
  clear: both;
  width: 100%;
  min-width: 1300px;
  height: 48px;
  min-height: 48px;
  margin-top: 135px;
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 3;
  width: 38.39%;
  min-width: 509px;
  height: 166px;
  min-height: 166px;
  margin: 25px 0 0 10%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.container-4 {
  position: relative;
  z-index: 11;
  width: 38.39%;
  min-width: 509px;
  height: 166px;
  min-height: 166px;
  max-height: 166px;
  margin: 25px 0 0 1.64303%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
  overflow: auto;
}

.container-5 {
  clear: both;
  width: 69.6153846153%;
  min-width: 905px;
  height: 166px;
  min-height: 166px;
  max-height: 166px;
  margin: 23px 0 0 15.15385%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.container-6 {
  position: relative;
  clear: both;
  z-index: 28;
  width: 39.1538461538%;
  min-width: 509px;
  height: 166px;
  min-height: 166px;
  margin: 25px 0 0 10%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.container-7 {
  position: relative;
  z-index: 32;
  width: 39.1538461538%;
  min-width: 509px;
  height: 166px;
  min-height: 166px;
  margin: 25px 0 0 1.64303%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.container-8 {
  position: relative;
  clear: both;
  z-index: 36;
  width: 39.1538461538%;
  min-width: 509px;
  height: 166px;
  min-height: 166px;
  margin: 25px 0 0 10%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.container-9 {
  position: relative;
  z-index: 40;
  width: 39.1538461538%;
  min-width: 509px;
  height: 166px;
  min-height: 166px;
  margin: 25px 0 0 1.64303%;
  border-radius: 12px;
  background-color: rgb(46, 46, 48);
}

.element-1 {
  margin: 3px 0 0 10.07452%;
  background: url('../images/logo.png') rgba(255, 255, 255, 0);
  background-size: 48px 48px;
}

.element-10 {
  margin: 15px 0 0 3.06361%;
  border-radius: 12px;
  background: url('../images/hourglass-not-done.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}

.element-11 {
  margin: 15px 0 0 3.06361%;
  border-radius: 12px;
  background: url('../images/open-book_1f4d6.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}

.element-12 {
  margin-left: 10%;
  background: url('../images/logo.png') rgba(222, 222, 222, 0);
  background-size: 48px 48px;
  overflow: hidden;
}

.element-2 {
  margin: 15px 0 0 3.05747%;
  border-radius: 12px;
  background: url(https://i.pinimg.com/originals/e5/b9/c6/e5b9c6404b8ba4ea182a90d7a51d2d36.gif) rgb(63, 63, 68);
  background-size: 32px 32px;
}

.element-3 {
  margin: 15px 0 0 3.0543999999%;
  border-radius: 12px;
  background: url('../images/beach-with-umbrella.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}

.element-4 {
  margin: 15px 0 0 3.06285%;
  border-radius: 12px;
  background: url('../images/crystal-ball.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}

.element-5 {
  position: relative;
  clear: both;
  z-index: 52;
  width: 1%;
  height: 28px;
  margin: 52px 0 0 10%;
  background-color: rgba(222, 222, 222, 0);
}

.element-6 {
  margin: 15px 0 0 3.06361%;
  border-radius: 12px;
  background: url('../images/calendar_1f4c5.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}

.element-7 {
  margin: 15px 0 0 3.06361%;
  border-radius: 12px;
  background: url('../images/electric-plug.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}

.element-8 {
  margin: 15px 0 0 3.06361%;
  border-radius: 12px;
  background: url('../images/mobile-phone.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}

.element-9 {
  margin: 15px 0 0 3.06361%;
  border-radius: 12px;
  background: url('../images/gem-stone.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}
.element-25 {
  margin: 15px 0 0 3.06361%;
  border-radius: 12px;
  background: url('../images/telegu.png') rgb(63, 63, 68);
  background-size: 32px 32px;
}
.element-223 {
  margin: 15px 0 0 3.06361%;
  border-radius: 12px;
  background: url('../images/obl.gif') rgb(63, 63, 68);
  background-size: 32px 32px;
}

.text-1 {
  clear: both;
  margin: 30px 0 0 10%;
  font-family: 'Manrope Bold';
  font-size: 2em;
  color: rgba(32, 32, 32, 0.281);
}
.text-10 {
  position: relative;
  z-index: 24;
  min-width: 440px;
  min-height: 44px;
  margin: 47px 0 0 22.44351%;
  font-family: 'Manrope Bold';
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.text-14 {
  clear: both;
  width: 86.2475442043%;
  margin-left: 3.06361%;
  font-size: 0.938em;
  color: rgb(226, 226, 226);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-11,
.text-13,
.text-15,
.text-17,
.text-19 {
  clear: both;
  margin: 15px 0 0 3.06361%;
  font-family: 'Manrope Bold';
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.text-2 {
  clear: both;
  margin-left: 10%;
  font-size: 1em;
  color: rgb(92, 91, 91);
}

.text-21 {
  clear: both;
  margin: 15px 0 0 3.06361%;
  font-family: 'Manrope Bold';
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-12,
.text-16,
.text-18,
.text-20,
.text-22 {
  clear: both;
  margin-left: 3.06361%;
  font-size: 1em;
  color: rgb(226, 226, 226);
}

.text-23 {
  margin-left: 1.50601%;
  font-family: Manrope;
  font-size: 0.75em;
  font-weight: 400;
  color: rgb(186, 186, 186);
}

.text-3 {
  clear: both;
  margin: 18px 0 0 10%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-4 {
  clear: both;
  margin: 15px 0 0 3.05747%;
  font-family: 'Manrope Bold';
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.text-5 {
  clear: both;
  margin-left: 3.05747%;
  font-size: 1em;
  color: rgb(226, 226, 226);
}

.text-6 {
  clear: both;
  margin: 15px 0 0 3.0543999999%;
  font-family: 'Manrope Bold';
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-7 {
  clear: both;
  margin-left: 3.0543999999%;
  font-size: 1em;
  color: rgb(226, 226, 226);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-8 {
  clear: both;
  margin: 15px 0 0 3.06285%;
  font-family: 'Manrope Bold';
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-9 {
  clear: both;
  margin-left: 3.06285%;
  font-size: 1em;
  color: rgb(226, 226, 226);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container ._button-1 {
  width: 74px;
  min-width: 74px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 1.32813%;
  background-color: rgba(222, 222, 222, 0);
  text-shadow: 0 0 10px #7eb6ff;
  color: #7e91ff;
  word-wrap: break-word;
}

.container ._button-2 {
  width: 74px;
  font-family: 'Montserrat', sans-serif;
  min-width: 74px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 0.81611%;
  background-color: rgba(222, 222, 222, 0);
  color: rgb(255, 255, 255);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

.container ._button-3 {
  width: 74px;
  font-family: 'Montserrat', sans-serif;
  min-width: 74px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 0.88462%;
  background-color: rgba(222, 222, 222, 0);
  color: rgb(255, 255, 255);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

.container ._button-4 {
  width: 74px;
  min-width: 74px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 0.90986%;
  background-color: rgba(222, 222, 222, 0);
  color: rgb(255, 255, 255);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

.container ._button-5 {
  width: 51px;
  min-width: 51px;
  height: 24px;
  min-height: 24px;
  margin: 15px 0 0 0.91827%;
  background-color: rgba(222, 222, 222, 0);
  color: rgb(255, 255, 255);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

.container ._button-2:hover,
.container ._button-3:hover,
.container ._button-4:hover,
.container ._button-5:hover {
  text-shadow: 0 0 10px #7e8bff;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}

.container ._button-6 {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: rgba(255, 255, 255, 0.955);
  border: 1px solid rgba(166, 71, 209, 0.57);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  

}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text a,
.text em,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 span {
  background-color: transparent;
  text-decoration: inherit;
  color: #6d55f7;
}

.text-2 span {
  background-color: transparent;
  text-decoration: inherit;
  color: #6c5eea;
}

.text-22 span {
  background-color: rgba(229, 112, 148, 0);
  text-decoration: underline;
  color: rgb(55, 54, 150);
}

@media(max-width: 600px) {
  .container .element-1 {
    margin-left: 10.07292%;
  }

  .container .element-12 {
    margin-left: 45%;
  }

  .container .text-23 {
    clear: both;
    margin-left: 3.16667%;
    font-size: 0.563em;
    text-align: center;
  }

  .container-1 {
    min-width: 600px;
  }

  .container-10 {
    position: relative;
    z-index: 44;
    margin-left: 7.83073%;
  }

  .container-11 {
    position: relative;
    clear: both;
    z-index: 48;
    margin-left: 7.83073%;
  }

  .container-12 {
    min-width: 600px;
    margin-top: 136px;
  }

  .container-3 {
    position: relative;
    z-index: 3;
    margin-left: 7.83073%;
  }

  .container-4 {
    position: relative;
    clear: both;
    z-index: 11;
    margin-top: 213px;
    margin-left: 7.83073%;
  }

  .container-5 {
    margin-top: -357px;
    margin-left: 7.83073%;
  }

  .container-6 {
    position: relative;
    z-index: 28;
    margin-left: 7.83073%;
  }

  .container-7 {
    position: relative;
    clear: both;
    z-index: 32;
    margin-left: 7.83073%;
  }

  .container-8 {
    position: relative;
    z-index: 36;
    margin-left: 7.83073%;
  }

  .container-9 {
    position: relative;
    clear: both;
    z-index: 40;
    margin-left: 7.83073%;
  }

  .element-5 {
    position: relative;
    clear: none;
    z-index: 52;
    margin-top: 244px;
  }

  .text-10 {
    position: relative;
    z-index: 24;
    margin-top: 316px;
    margin-left: 2.14063%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .container ._button-2 {
    margin-left: 0.8125%;
  }

  .container ._button-3 {
    margin-left: 0.88021%;
  }

  .container ._button-4 {
    margin-left: 0.90625%;
  }

  .container ._button-5 {
    margin-left: 0.91667%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 1em;
  }

  .container .container {
    min-width: 400px;
    height: 81px;
    min-height: 81px;
  }

  .container .element-1 {
    position: relative;
    z-index: 16;
    margin-top: 9px;
    margin-left: 43.1992199999%;
  }

  .container .text-1 {
    margin-top: 0;
  }

  .container .text-11 {
    margin-left: 3.0513%;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .container .element-6,
  .container .text-12 {
    margin-left: 3.0513%;
  }

  .container .text-13 {
    margin-top: 3px;
    margin-left: 3.05643%;
    font-size: 1em;
  }

  .container .text-17,
  .container .text-19 {
    margin-left: 3.04614%;
    font-size: 1em;
  }

  .container .element-10,
  .container .element-9,
  .container .text-18,
  .container .text-20 {
    margin-left: 3.04614%;
  }

  .container .text-15,
  .container .text-21 {
    margin-left: 3.05643%;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .container .element-11,
  .container .element-7,
  .container .element-8,
  .container .text-14,
  .container .text-16,
  .container .text-22 {
    margin-left: 3.05643%;
  }

  .container .text-23 {
    margin-left: 3.16016%;
  }

  .container .text-6 {
    margin-left: 3.05153%;
    font-size: 1em;
  }

  .container .element-3,
  .container .text-7 {
    margin-left: 3.05153%;
  }

  .container .text-4,
  .container .text-8 {
    margin-left: 3.0517599999%;
    font-size: 1em;
  }

  .container .element-2,
  .container .element-4,
  .container .text-5,
  .container .text-9 {
    margin-left: 3.0517599999%;
  }

  .container-1 {
    min-width: 400px;
    height: 435px;
  }

  .container-10 {
    position: relative;
    z-index: 44;
    width: 79.25%;
    min-width: 0;
    margin-left: 10%;
  }

  .container-11 {
    position: relative;
    z-index: 48;
    width: 79.75%;
    min-width: 0;
    margin-left: 10%;
  }

  .container-12 {
    min-width: 0;
  }

  .container-3 {
    position: relative;
    z-index: 3;
    width: 80%;
    min-width: 0;
    margin-top: 11px;
    margin-left: 10%;
  }

  .container-4 {
    position: relative;
    z-index: 11;
    width: 79.75%;
    min-width: 0;
    margin-top: 207px;
    margin-left: 10%;
  }

  .container-5 {
    width: 80%;
    min-width: 0;
    margin-left: 10%;
  }

  .container-6 {
    position: relative;
    z-index: 28;
    width: 79.5%;
    min-width: 0;
    margin-top: 122px;
    margin-left: 10%;
  }

  .container-7 {
    position: relative;
    z-index: 32;
    width: 79.75%;
    min-width: 0;
    margin-left: 10%;
  }

  .container-8 {
    position: relative;
    z-index: 36;
    width: 79.75%;
    min-width: 0;
    margin-left: 10%;
  }

  .container-9 {
    position: relative;
    z-index: 40;
    width: 79.25%;
    min-width: 0;
    margin-left: 10%;
  }

  .element-5 {
    position: relative;
    z-index: 52;
    margin-top: 203px;
  }

  .text-10 {
    position: relative;
    clear: both;
    z-index: 24;
    min-width: 332px;
    min-height: 33px;
    margin-top: 72px;
    margin-left: 8.5%;
    font-size: 1.5em;
  }

  .container ._button-1 {
    position: relative;
    clear: both;
    z-index: 17;
    margin-top: -57px;
    margin-left: 40.84766%;
    color: rgba(255, 126, 165, 0);
    opacity: 0;
    word-wrap: normal;
  }

  .container ._button-2 {
    margin-top: 0;
    margin-left: 11.81641%;
  }

  .container ._button-3 {
    
    position: relative;
    z-index: 19;
    margin-top: 0;
    margin-left: 1.82813%;
  }

  .container ._button-4 {
    position: relative;
    z-index: 20;
    margin-top: 0;
    margin-left: 1.84766%;
  }

  .container ._button-5 {
    margin-top: 0;
    margin-left: 1.80469%;
  }
}